@model IEnumerable<RestauranteEnHawai.Models.Venta>

@{
    ViewData["Title"] = "ReporteVentas";
}

<h1>ReporteVentas</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroOrden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadVendida)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroOrden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadVendida)
            </td>
        </tr>
}
    </tbody>
</table>
