@model RestauranteEnHawai.Models.Reserva

@{
    ViewData["Title"] = "Borrar venta";
}

<h1>Delete</h1>

<h3>¿Está Ud. seguro que desea borrar la siguiente reserva?</h3>
<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroDeReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroDeReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHoraReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHoraReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadPersonas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadPersonas)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" value="@Model.NumeroDeReserva" name="numeroReserva"/>
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista de reservas</a>
    </form>
</div>
