@model RestauranteEnHawai.Models.Venta

@{
    ViewData["Title"] = "Borrar venta";
}

<h1>Delete</h1>

<h3>¿Está Ud. seguro que desea borrar la siguiente venta?</h3>
<div>
    <h4>Venta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroOrden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroOrden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHora)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlatoVendido.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlatoVendido.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadVendida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadVendida)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" value="@Model.NumeroOrden" name="numeroOrden"/>
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista de ventas</a>
    </form>
</div>
