@model RestauranteEnHawai.Models.Venta

@{
    ViewData["Title"] = "Detalles de la venta";
}

<h1>Details</h1>

<div>
    <h4>Venta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroOrden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroOrden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHora)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlatoVendido.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlatoVendido.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadVendida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadVendida)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { numeroOrden = Model.NumeroOrden }) |
    <a asp-action="Index">Volver a la lista de ventas</a>
</div>
